{% load static %}
<style>
    #hello-msg{
        font-size: 18px;
        color: slategray;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{% url 'accounts:home' %}">AI WORLD</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-atomic="false"
            aria-label="Toogle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:products' %}">Products</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:user_settings' %}">Settings <span class="sr-only">Settings</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
    <span id="hello-msg">Hello {{ request.user }}</span>

    <span>
        <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
    </span>

</nav>